.landing-page {
    position: relative;
    }

 .left-side {
    background-image: url(../assets/training_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50%;
    float: left;
    }

.btn-box {
    position: bottom;
    }


.right-side {
    background-color: $yellow;
    float: right;
    height: 100vh;
    width: 50%;
    h1 {
        font-size: 20rem; 
        color: $black;
       }
       p {
        font-size: 5rem; 
        color: $black;
       }
}
.arrows {
    position: relative;
  i {
        position: absolute;
        bottom: 1rem;
        right: 5rem;
        color: $white;
        font-size: 20rem;
        display: block;
    }
}
.rotated-text {
        rotate: -90deg;
        text-transform: uppercase;
        transform-origin: bottom;
      }
      