.logo--box {
    position: relative;
    top: 4rem;
    left: 4rem;
    padding: 1rem;
    height: 4rem;
}

.logo--text {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

.logo--icon {
    font-size: 4rem;
    /*rotate: -45deg; */
}